	<li>
	  <%= link_to task.name, task %>
	  <% if current_user && current_user.admin? %>
	  	| <%= link_to "edit", edit_task_path(task) %>
	   	| <%= link_to "delete", task_path(task), :method => :delete, :confirm => "You sure?",
	                                :title => "Delete #{task.name}" %>

	  <% end %>
	</li>