<table>
  <tr>
    <td class="main">
      <tr>
        <th> Task </th>
        <th> Points </th>
        <th> Location </th>
      </tr>
      <ul>		
          <tr> 
            <td> <%= @task.name %> </td>
            <td> <%= @task.points %></td>
            <td> <%= @task.location %></td> 
          </tr> 
          
      </ul>
    </td>
  </tr>
</table>
