<h1>Show Hunt</h1>

<table>
  <tr>
    <td class="main">
      <h1>
        <%= @hunt.name %>
      </h1>
		<ul>		
		  <% @tasks.each do |task| %>
		 	 <%= render task  %>
		  <% end %>
		</ul>
    </td>
  </tr>
</table>
